/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

p {
  text-transform: uppercase;
  font-size: 200px;
  line-height: 1;
  font-family: "Anton", sans-serif;
}

@media (max-width: 767px) {
  p {
    font-size: 150px;
  }
}

footer {
  background: yellow;
  padding: 50px 0;
  margin-top: 30vh;
  z-index: 2;
  position: relative;
}

.canva-container {
  position: fixed;
  z-index: 0;
}
